.error {
    color: red;
}

.success {
    color: green;
}

#conteiner {
    width: 30%;
    margin: 10px auto;
}

.loginHeader {
    height: 28px;
    border-bottom: 1px solid black;
}
